<div class="wrapper">
  <button class="e-btn" style="margin: 5px;" (click)="btnClick()">Change Data</button>
  <ejs-spreadsheet>
    <e-sheets>
      <e-sheet name="Monthly Budget">
        <e-ranges>
            <e-range [dataSource]="data"></e-range>
        </e-ranges>
        <!-- Uncomment below code to bind cell data -->
        <!-- <e-rows>
          <e-row>
            <e-cells>
              <e-cell value="Category" [style]="boldCenter"></e-cell>
              <e-cell value="Planned cost" [style]="boldCenter"></e-cell>
              <e-cell value="Actual cost" [style]="boldCenter"></e-cell>
              <e-cell value="Difference" [style]="boldCenter"></e-cell>
            </e-cells>
          </e-row>
          <e-row>
            <e-cells>
              <e-cell value="Food"></e-cell>
              <e-cell value="7000" [format]="currencyFormat"></e-cell>
              <e-cell value="8120" [format]="currencyFormat"></e-cell>
              <e-cell formula="=B2-C2" [format]="currencyFormat"></e-cell>
            </e-cells>
          </e-row>
          <e-row>
            <e-cells>
                <e-cell value="Loan"></e-cell>
                <e-cell value="1500" [format]="currencyFormat"></e-cell>
                <e-cell value="1500" [format]="currencyFormat"></e-cell>
                <e-cell formula="=B3-C3" [format]="currencyFormat"></e-cell>
            </e-cells>
          </e-row>
          <e-row>
            <e-cells>
                <e-cell value="Medical"></e-cell>
                <e-cell value="300" [format]="currencyFormat"></e-cell>
                <e-cell value="0" [format]="currencyFormat"></e-cell>
                <e-cell formula="=B4-C4" [format]="currencyFormat"></e-cell>
            </e-cells>
          </e-row>
          <e-row>
            <e-cells>
                <e-cell value="Clothing"></e-cell>
                <e-cell value="400" [format]="currencyFormat"></e-cell>
                <e-cell value="140" [format]="currencyFormat"></e-cell>
                <e-cell formula="=B5-C5" [format]="currencyFormat"></e-cell>
            </e-cells>
          </e-row>
          <e-row>
            <e-cells>
                <e-cell value="Education" [format]="currencyFormat"></e-cell>
                <e-cell value="900" [format]="currencyFormat"></e-cell>
                <e-cell value="750" [format]="currencyFormat"></e-cell>
                <e-cell formula='=B6-C6' [format]="currencyFormat"></e-cell>
            </e-cells>
          </e-row>
          <e-row>
            <e-cells>
                <e-cell value='Insurance' [format]="currencyFormat"></e-cell>
                <e-cell value="30" [format]="currencyFormat"></e-cell>
                <e-cell value="30" [format]="currencyFormat"></e-cell>
                <e-cell formula="=B7-C7" [format]="currencyFormat"></e-cell>
            </e-cells>
          </e-row>
        </e-rows> -->
        <e-columns>
            <e-column [width]=100></e-column>
            <e-column [width]=130></e-column>
            <e-column [width]=100></e-column>
            <e-column [width]=120></e-column>
            <e-column [width]=110></e-column>
            <e-column [width]=120></e-column>
        </e-columns>
      </e-sheet>
    </e-sheets>
  </ejs-spreadsheet>
</div>
